ul {
    list-style: none;
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 0; /* Отступ снизу */
}
nav {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0px auto;
    background-color: rgb(39, 121, 39);
    text-align: center;
}
.textcolors{
    background-color: rgb(39, 121, 39);
}
.main > li {
    padding: 0;
    margin: 0 4%;
    float: left;
}
.main > li > a {
color: #0b2e13;
}
.dropdown-menu > li > a {
    color: #0b2e13;
    width: 100%;
}
.dropdown-menu > li > a{
    text-align: right;
    padding-left: 11px;
    padding-right: 5px;
}

.userAvatar{
    height: 40px;
    width: 40px;
    margin-right: 8px;
}
i {
    margin-left: 5px;
    padding-right: 11px;
}
.divider{
    border-top:1px solid #e5e5e5;
    padding-top:5px;
    margin-top:5px;
}
