@media (min-width: 1000px) {
    .containermain {
        height: 64px;
        background-color: green;
        position: sticky;
        z-index: 100;
        width: 99%;
    }

    .col > a{
        text-decoration: none;
        color: #c4a917;
    }

    .col > a:hover {
        color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
        text-decoration: none; /* Добавляем подчеркивание */
    }

    .container > .row >.col-1 > .menu{
        background: green;
        border: 0px;
    }

    .container > .row >.col-1 > .menu > a {
        text-decoration: none;
        color: #c4a917;
    }

    .container > .row >.col-1 > .menu > a:hover {
        text-decoration: none;
        background: #9bff00;
        border-color: #7d1ea5;
        color: #1b4b72;
    }

     .btn-primary{
         background: green;
         border-color:#c4a917;
         color: #c4a917;
    }

    .btn-primary:hover{
        background: #9bff00;
        border-color: #7d1ea5;
        color: #1b4b72;
    }
}
@media (max-width: 999px) {
    .containermain {
        height: 64px;
        background-color: green;
        position: sticky;
        z-index: 100;
        width: 99%;
    }

    .col > a {
        text-decoration: none;
        color: #c4a917;
    }

    .col > a:hover {
        color: #800000;
        text-decoration: none;
    }
    .imageitem{
        width: 100px;
        height: 100px;

    }

    .container > .row >.col-1 {
        margin-left: 70px;
    }

    .container > .row >.col-1 > .menu{
        background: green;
        border: 0px;
        margin: 20px;
    }

    .container > .row >.col-1 > .menu > a {
        text-decoration: none;
        color: #c4a917;
    }

    .container > .row >.col-1 > .menu > a:hover {
        text-decoration: none;
        background: #9bff00;
        border-color: #7d1ea5;
        color: #1b4b72;
    }

    .btn-primary{
        background: green;
        border-color:#c4a917;
        color: #c4a917;
    }
}
