@media (min-width: 1000px) {
    .containermain {
        height: 64px;
        background-color: green;
        position: sticky;
        z-index: 100;
        width: 99%;
    }

    .col > a{
        text-decoration: none;
        color: #c4a917;
    }

    .col > a:hover {
        color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
        text-decoration: none; /* Добавляем подчеркивание */
    }

}
@media (max-width: 999px) {
    .containermain {
        height: 64px;
        background-color: green;
        position: sticky;
        z-index: 100;
        width: 99%;
    }

    .col > a {
        text-decoration: none;
        color: #c4a917;
    }

    .col > a:hover {
        color: #800000;
        text-decoration: none;
    }
    .imageitem{
        width: 100px;
        height: 100px;

    }

    .container > .row >.col-1 {
        margin-left: 30px;
    }
}
